$global-width: rem-calc(1440);
$global-font-size: rem-calc(18);
$global-lineheight: 1.55;

$foundation-palette: (
        primary: #1779BA,
        secondary: #767676,
        success: #3ADB76,
        warning: #FFAE00,
        alert: #CC4B37,
);

$light-gray: #E6E6E6;
$medium-gray: #CACACA;
$dark-gray: #8A8A8A;
$black: #0A0A0A;
$white: #FFFFFF;

$body-antialiased: true;
$body-font-family: 'Neuzeit Grotesk', Helvetica, Roboto, Arial, sans-serif;
$body-background: $white;
$body-font-color: $black;

$global-weight-normal: 400;
$global-weight-bold: 700;

$global-margin: 1rem;
$global-padding: 1rem;
$global-radius: 0;
$global-flexbox: true;
