@import '../../vendor/foundation-sites/scss/util/util';
@import 'settings/_global';
@import 'settings/_breakpoints';
@include add-foundation-colors;

// 4. Base Typography
// ------------------

$header-margin-bottom: $global-margin;
$header-font-family: $body-font-family;
$header-font-weight: $global-weight-bold;
$header-lineheight: 1.4;
$header-color: $primary-color;
//$header-styles: (
//    small: (
//        'h1': ('font-size': 24),
//        'h2': ('font-size': 20),
//        'h3': ('font-size': 19),
//        'h4': ('font-size': 18),
//        'h5': ('font-size': 17),
//        'h6': ('font-size': 16),
//    ),
//    medium: (
//        'h1': ('font-size': 48),
//        'h2': ('font-size': 40),
//        'h3': ('font-size': 31),
//        'h4': ('font-size': 25),
//        'h5': ('font-size': 20),
//        'h6': ('font-size': 16),
//    ),
//);
$header-text-rendering: optimizeLegibility;

$subheader-margin-top: 0;
$subheader-margin-bottom: 0;
$subheader-font-weight: $global-weight-bold;
$subheader-letter-spacing: .2em;
$subheader-lineheight: 1;
$subheader-color: $secondary-color;

$lead-font-size: inherit;
$lead-lineheight: $global-lineheight;

$paragraph-margin-bottom: $global-margin;
$paragraph-lineheight: $global-lineheight;
$paragraph-text-rendering: optimizeLegibility;

$anchor-color: $primary-color;
$anchor-color-hover: darken($anchor-color, 7%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

$hr-width: 100%;
$hr-border: 1px solid $light-gray;
$hr-margin: $global-margin auto;

$list-margin-bottom: $paragraph-margin-bottom;
$list-side-margin: $global-margin;
$list-nested-side-margin: $list-side-margin;
$list-style-type: disc;
$list-style-position: outside;
$list-lineheight: $paragraph-lineheight;

$defnlist-margin-bottom: $list-margin-bottom;
$defnlist-term-margin-bottom: 0;
$defnlist-term-weight: inherit;

$blockquote-color: $primary-color;
$blockquote-padding: rem-calc(15 30 15 29);
$blockquote-border: 1px solid $light-gray;

$cite-font-size: rem-calc(14);
$cite-color: $secondary-color;
$cite-pseudo-content: '\2014 \0020';

// 11. Button
// ----------

//$button-padding: 0.85em 1em;
//$button-margin: 0 0 $global-margin 0;
//$button-fill: solid;
//$button-background: $primary-color;
//$button-background-hover: scale-color($button-background, $lightness: -15%);
//$button-color: $white;
//$button-color-alt: $black;
//$button-radius: $global-radius;
//$button-sizes: (
//    tiny: 0.6rem,
//    small: 0.75rem,
//    default: 0.9rem,
//    large: 1.25rem,
//);
//$button-palette: $foundation-palette;
//$button-opacity-disabled: 0.25;
//$button-background-hover-lightness: -20%;
//$button-hollow-hover-lightness: -50%;
//$button-transition: background-color 0.25s ease-out, color 0.25s ease-out;

// 19. Forms
// ---------

//$fieldset-border: 1px solid $medium-gray;
//$fieldset-padding: rem-calc(20);
//$fieldset-margin: rem-calc(18 0);
//$legend-padding: rem-calc(0 3);
//$form-spacing: rem-calc(16);
//$helptext-color: $black;
//$helptext-font-size: rem-calc(13);
//$helptext-font-style: italic;
//$input-prefix-color: $black;
//$input-prefix-background: $light-gray;
//$input-prefix-border: 1px solid $medium-gray;
//$input-prefix-padding: 1rem;
//$form-label-color: $black;
//$form-label-font-size: rem-calc(14);
//$form-label-font-weight: $global-weight-normal;
//$form-label-line-height: 1.8;
//$select-background: $white;
//$select-triangle-color: $dark-gray;
//$select-radius: $global-radius;
//$input-color: $black;
//$input-placeholder-color: $medium-gray;
//$input-font-family: inherit;
//$input-font-size: rem-calc(16);
//$input-font-weight: $global-weight-normal;
//$input-background: $white;
//$input-background-focus: $white;
//$input-background-disabled: $light-gray;
//$input-border: 1px solid $medium-gray;
//$input-border-focus: 1px solid $dark-gray;
//$input-shadow: inset 0 1px 2px rgba($black, 0.1);
//$input-shadow-focus: 0 0 5px $medium-gray;
//$input-cursor-disabled: not-allowed;
//$input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
//$input-number-spinners: true;
//$input-radius: $global-radius;
//$form-button-radius: $global-radius;

@import 'settings/_components';
