h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
}

h1, .h1 {
    margin-bottom: 0;
    line-height: 0.8;
}

h2, .h2 {
}

h3, .h3 {
    color: $secondary-color;
}

h4, .h4 {
}

h5, .h5 {
}

h6, .h6 {
}

.subheader {
    display: block;
    font-size: rem-calc(14);
    letter-spacing: $subheader-letter-spacing;
    text-transform: uppercase;
}

.lead {
    font-weight: $global-weight-bold;
}

p,
p.lead {
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    font-weight: $global-weight-bold;
    transition: all .25s;
}

blockquote {
    p {
        font-family: Georgia, serif;
        font-size: rem-calc(22);
        font-style: italic;

        &:last-child {
            margin-bottom: 0;
        }
    }

    cite {
        font-family: $body-font-family;
        font-style: normal;
        font-weight: $global-weight-bold;
    }
}

ol, ul, dl {
    &:last-child {
        margin-bottom: 0;
    }
}

li {
    main & {
        margin-top: rem-calc(16);

        &:first-child {
            margin-top: 0;
        }

        ol, ul {
            margin-top: rem-calc(16);
        }
    }
}

dt, dd {
    //@include responsive-font(1.5vw, 16px, 22px, 18px);
}

hr {
    margin-top: rem-calc(45);
    margin-bottom: rem-calc(45);
}

pre {
    //@include responsive-margin(bottom, 2.8vw, 30px, 45px);
    padding: rem-calc(15);
    //@include responsive-font(1.4vw, 15px, 22px, 18px);
    background: $light-gray;
}