h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    @include responsive-margin(bottom, 2.8vw, 30px, 45px);
}

h1, .h1 {
    margin-bottom: 0;
    line-height: 1;
}

h2, .h2 {
}

h3, .h3 {
    color: $secondary-color;
}

h4, .h4 {
}

h5, .h5 {
}

h6, .h6 {
}

.subheader {
    display: block;
    font-size: rem-calc(14);
    letter-spacing: $subheader-letter-spacing;
    text-transform: uppercase;
}

.lead {
    font-weight: $global-weight-bold;
}

p,
p.lead {
    @include responsive-margin(bottom, 2.8vw, 30px, 45px);
    @include responsive-font(1.4vw, 16px, 22px, 18px);
}

a {
    font-weight: $global-weight-bold;
    transition: all .25s;
}

//TODO: Style blockquote
blockquote {
    p {
        font-style: italic;

        &:last-child {
            margin-bottom: 0;
        }
    }

    cite {
        font-style: normal;
    }
}

ol, ul, dl {
    @include responsive-margin(bottom, 2.8vw, 30px, 45px);
}

li {
    @include responsive-font(1.4vw, 16px, 22px, 18px);

    main & {
        @include responsive-margin(top, 1.4vw, 16px, 22px);

        &:first-child {
            margin-top: 0;
        }

        ol, ul {
            @include responsive-margin(top, 1.4vw, 16px, 22px);
        }
    }
}

dt, dd {
    @include responsive-font(1.4vw, 16px, 22px, 18px);
}

hr {
    @include responsive-margin(top, 2.8vw, 30px, 45px);
    @include responsive-margin(bottom, 2.8vw, 30px, 45px);
}

pre {
    @include responsive-margin(bottom, 2.8vw, 30px, 45px);
    padding: rem-calc(15);
    @include responsive-font(1.4vw, 15px, 22px, 18px);
    background: $light-gray;
}