h1, .h1 {
    line-height: 1;
}

h2, .h2 {}

h3, .h3 {
    color: $secondary-color;
}

h4, .h4 {}

h5, .h5 {}

h6, .h6 {}

.subheader {
    display: block;
    font-size: rem-calc(14);
    letter-spacing: $subheader-letter-spacing;
    text-transform: uppercase;
}

.lead {
    font-weight: $global-weight-bold;
}

p,
p.lead {
    @include responsive-font(1.4vw, 16px, 22px, 18px);
}

a {
    font-weight: $global-weight-bold;
    transition: all .25s;
}