@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body.login {
    display: flex;
    background: #FFFFFF;
}

#login {
    position: relative;
    width: 80%;
    max-width: 300px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    background: #06182B;
}

.login h1 a {
    position: absolute;
    margin: 0;
    width: 1px;
    height: 1px;
    background: none;
    clip: rect(1px, 1px, 1px, 1px);
}

#login form {
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
}

#login form p:not(:last-child) {
    margin-bottom: 20px;
}

#login form label {
    font-size: 10px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #D8B51D;
}

#login form .input {
    margin: 2px 0 0;
    padding: 10px 14px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #3A495A;
    border: 3px solid #3A495A;
    box-shadow: none;
    transition: all 250ms;
}

#login form .input:hover {
    background-color: #3A495A;
    border-color: #4E5A67;
}

#login form .input:focus {
    background-color: #4E5A67;
    border-color: #4E5A67;
}

#login form p.forgetmenot {
    display: none;
    float: none;
}

#login form p.submit {
    margin-top: 30px;
}

#login form #wp-submit {
    float: none;
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 10px;
    line-height: 1;
    text-shadow: none;
    text-transform: uppercase;
    background-color: #D8B51D;
    box-shadow: none;
    border: none;
    border-radius: 0;
    transition: all 250ms;
}

#login form #wp-submit:hover,
#login form #wp-submit:focus {
    background-color: #be9a00;
}

p#nav,
p#backtoblog,
p.message {
    display: none;
}

#login #login_error {
    margin-bottom: 25px;
    color: #06182B;
}